.container{
		width:100%;
		border: 1px solid #000;
		min-height:140px;
	}
	.logo{
		width:250px;
		float:left;
	}
	.logo img{
		width:240px;
		height:135px;
	}
	.header_msg{
		float:left;
		width:900px;
		min-height:130px;
		border: 0px solid #000;
	}
	.header_msg h1{
		color: blue;
		text-align:center;
	}
	.header_link{
		float:right;
		padding-top:100px;
		padding-right:10px;
	}
	